body {
    background: #293652;
    font-family: Gill Sans,
        sans-serif;
}


.container {
    max-width: 1250px;
    margin: 0 auto;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
        url("../Images/dumaguete-belltower.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 90px 0;
    box-shadow: 1px 5px 10px 5px #1a1a1a;

}

header h1 {
    font-size: 85px;
    font-weight: 650;
    line-height: 1;
    margin: 0;

}

header h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin: 30px 0;
}

header h3 {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
    color: black;
    background: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 30px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 1px 5px 10px 5px #262626;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-image: linear-gradient(rgba(1, 1, 27, 0.8), rgba(1, 1, 27, 0.8)),
        url("../Images/dumaguete-city.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;

}

footer h3 {
    font-family: 700;
    font-size: 20px;
    line-height: 1.5;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
    margin-right: 20px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

footer a {
    color: white;
    opacity: 0.7;
}


@media (max-width:960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 45px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }
}